<!-- Prints out the confirmation of what was added to the database -->

<html>
    <head>
        <title>Adding to the Database</title>
        <link href="/style.css" rel="stylesheet"> 
    </head>
<body>

<form action="/" method="GET">
    <input type="submit" value="<< Return to main" />
</form>

<h3> Movies Found! </h3>

<p>
	<form>
	<!-- pass the id to identify which movie to add -->
	<% index = 0 %>
	
	<% @@all_movies.each do |movie| %>
		
		Movie Title: <%= movie.Title %> </br>
		Year: <%= movie.Year %> </br>
		Rated: <%= movie.Rated %> </br>
		Genre: <%= movie.Genre %> </br>
		Rotten Tomato Rating: <%= movie.tomatoRating %> </br>
		Actors: <%= movie.Actors %> </br>
		Plot: <%= movie.Plot %> </br>
		
		<input type = "hidden" name="array_index" value="<%= index %>"/>
		<input type="submit" value="Add to my movies" id='add'/> </br>

		------------------------------------------------------------------------------------------------------------ </br>

	</form>
			<% index += 1%>
		<% end %>
</p>

</body>
</html>