<!-- Prints out the confirmation of what was added to the database -->

<html>
    <head>
        <title>Adding to the Database</title>
        <link rel="stylesheet" type="text/css" href="styles/style.css">
    </head>
<body>

<form action="/" method="GET">
    <input type="submit" value="<< Return to main" />
</form>

<h3> Movies Found! </h3>

<p>
	<form action="/add/" method="GET">
	<!-- pass the id to identify which movie to add -->
	<% @all_movies.each do |movie| %>
		Movie Title: <%= movie.Title %> </br>
		Year: <%= movie.Year %> </br>
		Rated: <%= movie.Rated %> </br>
		Genre: <%= movie.Genre %> </br>
		Rotten Tomato Rating: <%= movie.tomatoRating %> </br>
		Actors: <%= movie.Actors %> </br>
		Plot: <%= movie.Plot %> </br>
		<%= @movie_index %> </br>
		<input type="submit" value="Add to my movies" /> </br>
		------------------------------------------------------------------------------------------------------------ </br>
	<% end %>
	</form>
</p>

</body>
</html>