<!-- Prints out the confirmation of what was added to the database -->

<html>
    <head>
        <title>Adding to the Database</title>
    </head>
<body>

<p>
	Movie Found! </br>
	Title: <%= obj.Title %></br>
	Director: <%= obj.Director %></br>
	Actors: <%= obj.Actors %></br>
	Year: <%= obj.Year %></br>
	Rating: <%= obj.Rated %></br>
	Plot: <%= obj.Plot %></br>
	Rotten Tomatoes Rating: <%= obj.tomatoRating %></br>
</p>

<form action="/" method="GET">
    <input type="submit" value="Return to main" />
</form>

</body>
</html>

