<!-- Prints contents of database -->
<!doctype html>
<html>
    <head>
        <title>Viewing the Database</title>
        <script src="/static/style.js" type="text/javascript"></script>
    </head>
<body>

<form action="/" method="GET">
    <input type="submit" value="<< Return to main" />
</form>

	<h1> The Movies </h1>

	<table>
	<tbody>
		<tr>
			<th class="sortable">ID</th>
			<th class="sortable">Movie Title</th>
			<th class="sortable">Year</th>
			<th class="sortable">Review</th>
			<th class="sortable">Tomato Rating</th>
		</tr>

	<% @movies.each do |movie| %>
		<tr> 
			<td><%= movie[0] %></td>
			<td><%= movie[1] %></td>
			<td><%= movie[2] %></td>
			<td><%= movie[3] %></td>
			<td><%= movie[4] %></td>
		</tr>
	<% end %>

	</tbody>
	</table>

</body>
</html>